<div *ngIf="formulario">
  <h1>{{ libro ? "Editar" : "Nuevo" }} libro</h1>

  <div class="row">
    <div class="col-md-8">

      <div class="mt-5 alert alert-danger" *ngIf="errors">
        {{ errors | json }}
      </div>

      <form class="mt-5" [formGroup]="formulario" autocomplete="off" (ngSubmit)="guardar()">
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <mat-label>Título</mat-label>
          <input matInput type="text" placeholder="Título" formControlName="titulo" (keyup)="crearSlug()" />
          <mat-error>
            <ng-container *ngIf="controlTieneError('titulo', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlTieneError('titulo', 'minlength')">
              Debe tener al menos 3 caracteres
            </ng-container>
            <ng-container *ngIf="controlTieneError('titulo', 'maxlength')">
              Debe tener 100 caracteres como máximo
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-2 w-100">
          <mat-label>Slug</mat-label>
          <input matInput type="text" placeholder="Slug" formControlName="slug" />
          <mat-error>
            <ng-container *ngIf="controlTieneError('slug', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlTieneError('slug', 'pattern')">
              El valor es inválido
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-2 w-100">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
          <mat-error>
            <ng-container *ngIf="controlTieneError('descripcion', 'required')">
              Este campo es obligatorio
            </ng-container>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mb-2 w-100">
          <mat-label>Precio</mat-label>
          <input matInput type="number" step="0.01" placeholder="Precio" formControlName="precio" />
          <mat-error>
            <ng-container *ngIf="controlTieneError('precio', 'required')">
              Este campo es obligatorio
            </ng-container>
            <ng-container *ngIf="controlTieneError('precio', 'min')">
              El valor debe ser 0 como mínimo
            </ng-container>
          </mat-error>
        </mat-form-field>

        <div class="mb-3">
          <label class="d-block mb-1">Portada</label>

          <button type="button" mat-raised-button (click)="archivoPortadaInputFile.click()">
            Seleccionar archivo
          </button>

          <div *ngIf="formulario.controls['rutaPortada'].valid">
            El archivo ha sido subido: {{ formulario.controls['rutaPortada'].value }}
          </div>

          <mat-error *ngIf="controlTieneError('rutaPortada', 'required') && formulario.controls['rutaPortada'].touched">
            Este campo es obligatorio
          </mat-error>

          <input type="file" accept="image/*" (change)="subirArchivo($event, 'rutaPortada')" class="form-control d-none"
            #archivoPortadaInputFile>
        </div>

        <div class="mb-3">
          <label class="d-block mb-1">Archivo PDF</label>

          <button type="button" mat-raised-button (click)="archivoPDFInputFile.click()">
            Seleccionar archivo
          </button>

          <div *ngIf="formulario.controls['rutaArchivo'].valid">
            El archivo ha sido subido: {{ formulario.controls['rutaArchivo'].value }}
          </div>

          <mat-error *ngIf="controlTieneError('rutaArchivo', 'required') && formulario.controls['rutaArchivo'].touched">
            Este campo es obligatorio
          </mat-error>

          <input type="file" accept="application/pdf" (change)="subirArchivo($event, 'rutaArchivo')"
            class="form-control d-none" #archivoPDFInputFile>
        </div>
        <div class="text-end mt-5">
          <button mat-button type="button" routerLink="/admin/libros">
            Cancelar
          </button>
          <button class="ms-2" mat-raised-button color="primary">
            {{ libro ? 'Actualizar' : 'Crear' }} libro
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-4 text-center">
      <div *ngIf="formulario.controls['rutaPortada'].value; else sinRutaPortada">
        <div>Portada</div>
        <img [src]="'http://localhost:9090/api/assets/' + formulario.controls['rutaPortada'].value" alt="" class="img-thumbnail">
      </div>
      <ng-template #sinRutaPortada>
        Sin portada
      </ng-template>
    </div>
  </div>
</div>
