<h1>Lista de libros</h1>

<div class="text-end">
  <button class="btn btn-primary" routerLink="/libros/nuevo">
    Nuevo libro
  </button>
</div>

<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th>Libro</th>
      <th>PRECIO</th>
      <th>F. CREACION</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of libros">
      <td>
        <div class="fw-bold">
          {{ libro.titulo }}
        </div>
        <p>
          {{ libro.descripcion }}
        </p>
      </td>
      <td>
        {{ libro.precio | currency: "$" }}
      </td>
      <td>
        {{ libro.fechaCreacion | date: "dd/MM/yyyy hh:mm a" }}
      </td>
      <td>
        <button  class="btn btn-outline-primary" [routerLink]="['/libros', libro.id, 'editar']">Editar</button>
        <button class="ms-2 btn btn-outline-danger" (click)="eliminar(libro)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
