<div class="banner">
  <div class="overlay"></div>
  <div class="text">
      <h1 class="title">Mi Tienda Online</h1>
      <p class="subtitle">
          Encuentra el libro digital perfecto para ti y comienza
          a aprender sin límites.
      </p>
  </div>
</div>

<div class="container mt-5">
  <h1 class="fw-bold">Últimos libros</h1>
  <div class="row">

      <div class="col-md-4 mb-3" *ngFor="let libro of ultimosLibros">
          <app-tarjeta-libro [libroTarjeta]="libro"></app-tarjeta-libro>
      </div>
  </div>
</div>
